* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.page-header {
	background-color: #FF6900;
	padding: 5px;
    font-weight: 700 italic;
}

.page-header [class^='col'] {
    display: flex;
    align-items: center;
    font-weight: 700 italic;
}

.row-header {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.row-header > [class^='col'] {
	padding: 10px;
}

.justify-between {
    justify-content: space-between;
}

.logo {
    width: 120px;
}

ul {
    display: flex;
}

.social-header > li {
    margin-left: 9px;
}

.gender > li {
    margin-right: 9px;
    font-weight: bold;
}

#person-svg {
    width: 25px;
    height: 25px;
}

#heart-svg {
    width: 25px;
    height: 25px;
}

#bag-svg {
    width: 25px;
    height: 25px;
}








.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row-main {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.row-main > [class^='col'] {
	padding: 10px;
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

img {
    max-width: 100%;
}

.card {
    display: flex;
}

.card__image {
    position: relative;
}

.hearts {
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    font-size: 25px;
}

.flag-red {
    background-color: red;
    padding: 3px 6px;
    color: white;
}

.flag-green {
    background-color: green;
    padding: 3px 6px;
    color: white;
    margin-left: 3px;
}

.flags {
    background-color: #DEDEDE;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 40px;
    left: 0px;
    text-align: center;
    font-size: 12px;
    align-items: center;
}

.brand-name {
    font-size: 10px;
}

.product {
    font-size: 12px;
    font-weight: bold;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.last-price {
    color: black;
    font-weight: 200;
    font-style: italic;
    text-decoration: line-through;
    font-size: 12px;
}

figure:hover img.image-hover {
    opacity: 1;
}

.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

ul, ol, menu {
    list-style: none;
}

figure > img {
    display: block;
    width: 100%;
}

.section {
	padding: 40px;
}



